.crear_elemento{
    height: 640px;
    width: 360px;
    background-color: $low-opacity-grey;
    align-content: center;
}

.crear_elemento_content{
    margin: 0;
    padding: 0 2rem;
    height: 100%;
    align-content: center;
}

.div_crear_elemento{
    display: flex;
    justify-content: center;
    align-content: center;
}

.crear_elemento_top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nv_elemento{
    font-family: $title;
    text-align: center;
    margin: 0 0 1rem 0;
    font-size: 20px;
    font-weight: 350;
}

.cancelar {
    position: absolute; 
    top: 2.1rem;
    right: 1.5rem;
}

.btn_crear{
    padding: 1px 1px 1px 1px;
    margin-left: 0.3rem;
}

.btn_crear_txt{
    font-family: $title;
}

.nv_elemento, .cancelar{
    flex: 1;
}

.btn_crearM{
    position: absolute;
    bottom: -3rem;
    padding: 0;
    width: 82%;
}