#crear_elemento{
    height: 615px;
    background-color: $low-opacity-grey;
    align-content: center;
    padding: 0 3rem 0 3rem;
}

.crear_elemento_content{
    margin: 0;
    height: 100%;
    align-content: center;
}

.div_crear_elemento{
    align-content: center;
}

.crear_elemento_top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nv_elemento{
    font-family: $title;
    font-size: 20px;
    font-weight: 350;
}

.cancelar {
    position: absolute; 
    right: 1.5rem;
}


.btn_crear{
    padding: 1px 1px 1px 1px;
    margin-left: 0.9rem;
}

.btn_crear_txt{
    font-family: $title;
}

.nv_elemento, .cancelar{
flex: 1;
}