@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

$primary: #fce76c;;
$secondary: #8bd0fc;
$red: #ff8f5c;
$black: #1f1e22;
$white: #FEFCF0;

$title: "Oswald", sans-serif;
$body: "Source Sans 3", sans-serif; 

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #1f1e22;
}

.form{
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    border-radius: 1rem;
    background-color: #FEFCF0;
    position: relative;
}

.labelForm{
    font-size: .7rem;
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 0;
}

.inputForm{
    border: none;
    background-color: #FEFCF0;
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 0 0 .5rem 0;
    width: 100%;
    border-bottom: 1px solid #1f1e22;
}

.btnForm{
    position: absolute;
    bottom: -2rem;
    background-color: #8bd0fc;
    padding: .5rem;
    display: flex;
    justify-content: center;
    width: 75%;
    border-radius: 1.5rem;
    font-family: "Source Sans 3", sans-serif;
    color: #1f1e22;
    font-weight: 800;
}