@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

$primary: #fce76c;;
$secondary: #8bd0fc;
$red: #ff8f5c;
$black: #1f1e22;
$white: #FEFCF0;
$grey: #383838;
$light-grey: rgba(245, 243, 243, 0.679);
$low-opacity-grey: rgba(161, 161, 161, 0.333);

$title: "Oswald", sans-serif;
$body: "Source Sans 3", sans-serif; 

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #1f1e22;
}

.form{
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    border-radius: 1rem;
    background-color: #FEFCF0;
    position: relative;
}

.labelForm{
    font-size: .7rem;
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 0;
}

.inputForm{
    border: none;
    background-color: #FEFCF0;
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 0 0 .5rem 0;
    width: 100%;
    border-bottom: 1px solid #1f1e22;
}

.btnForm{
    position: absolute;
    bottom: -2rem;
    background-color: #8bd0fc;
    padding: .5rem;
    display: flex;
    justify-content: center;
    width: 75%;
    border-radius: 1.5rem;
    font-family: "Source Sans 3", sans-serif;
    color: #1f1e22;
    font-weight: 800;
}

.mainNav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    background-color: #8bd0fc;
    padding: .2rem 0 .2rem 0;
}

.mainOpc{
    padding: 1rem;
    align-content: center;
    width: 20%;
    height: 100%;
    border-radius: .5rem;
    text-align: center;
    transition: all ease-out 250ms;
}

.mainOpc:hover{
    background-color: #fce76c;
    transform: translateY(-2rem);
}

.mainOpc p{
    font-family: "Source Sans 3", sans-serif;
    color: #1f1e22;
    font-size: .8rem;
    margin: 0;
}

.mainOpc img{
    margin: 0;
    width: 1.5rem;
}