@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

$primary: #fce76c;;
$secondary: #8bd0fc;
$red: #ff8f5c;
$black: #1f1e22;
$white: #FEFCF0;

$title: "Oswald", sans-serif;
$body: "Source Sans 3", sans-serif; 

body{
    margin: 0;
    padding: 0;
}