#semestres {
    background-color: $white;
}

.sem_cont_2 {
    margin: 0;
    padding: 1.5rem 3rem 1.5 3rem;
    height: 532px;
}

.arrowSems{
    height: 100%;
    margin: 1rem 0;
    width: 1rem;  
}

.semestres_tit h1 {
    font-size: 2.5rem;
    font-family: $title;
    margin: 0;
    color: $black;
}

.semestres_tit p {
    margin-top: -.5rem;
    margin-left: .3rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    font-family: $body;
}

.lista_semestres {
    min-height: 90px;
    max-height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 2rem;
    margin-top: 20px;
}

.box_semestre {
    display: flex;
    flex-direction: column;
    width: 95%;
    column-gap: 2px;
    background-color: $primary;
    text-align: left;
    border-radius: 12px;
    padding: 2px 5px 2px 5px;
    margin-bottom: 15px;
}

.semestre_body {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.semboxImg {
    width: 1.5rem;
    transform: rotate(45deg);
    margin-left: 110px;
}

.info_semestre {
    margin-left: 1rem;
    margin-bottom: 5px;
}

.info_semestre p {
    font-family: $title;
    font-size: .8rem;
    margin: 0;
}

.nombre_semestre {
    font-family: $title;
    font-size: 1.3rem;
    margin-left: 1rem;
    font-weight: 400;
    margin-bottom: 1px;
    margin-top: 10px;
    text-transform: capitalize;
}

.boxop_semestre {
    display: flex;
    flex-direction: column;
    width: 42%;
    column-gap: 2px;
    background-color: $light-grey;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.3);
    text-align: left;
    border-radius: 12px;
    padding: 2px 5px 2px 5px;
    margin-bottom: 15px;
}

.semestreop_body {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.nombreop_semestre {
    font-family: $title;
    font-size: 16px;
    font-weight: 350;
    margin-left: 10px;
    margin-bottom: 1px;
    margin-top: 10px;
}

.semboxopImg {
    margin-top: 15px;
    width: 1.0rem;
    transform: rotate(45deg);
    margin-left: 10px;
}

.infoop_semestre {
    margin-left: 10px;
}

.infoop_semestre p {
    font-family: $title;
    font-size: 12px;
    margin: 0;

}

.options_semestres {
    display: flex;
    gap: 20px;
}

.nuevo_semestre {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    padding: 1rem;
    background-color: $red;
    border-radius: 1rem;
}

.agregar_nuevo {
    margin: 0;
    font-size: 1rem;
    font-family: $body;
    color: $black;
    font-weight: 800;
}

.semestre_txt {
    margin: 0;
    font-size: 15px;
    font-family: $title;
    margin-left: 10px;
    color: $grey;
}

.semaddImg {
    width: 1.5rem;
    margin: 0 .5rem;
    color: $white;
}

.desCrearSem{
    margin-left: .3rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    font-family: $body;
}